/EjSubprogramas/nbproject/private/
/SubprogramasTeoria/nbproject/private/
/XtraEstCtrl/nbproject/private/
/EjArreglos/nbproject/private/
/ArreglosTeoria/nbproject/private/
/EjArreglos/build/
/EjArreglos.new/nbproject/private/
/EjArreglos.new/build/
/POO.Teoria/nbproject/private/
/ObjetosEj1/nbproject/private/
/ObjetosEj1/build/
/ObjetosEj2/nbproject/private/
/ObjetosEj2/build/
/ObjetosEj3/nbproject/private/
/ObjetosEj3/build/
/ObjetosEj4/nbproject/private/
/ObjetosEj4/build/
/ObjetosExtra1/nbproject/private/
/ObjetosExtra1/build/
/ObjetosExtra2/nbproject/private/
/ObjetosExtra2/build/
/ObjetosExtra3/nbproject/private/
/ObjetosExtra3/build/
/ObjetosExtra4/nbproject/private/
/ObjetosExtra4/build/
/ObjetosExtra5/nbproject/private/
/ObjetosExtra5/build/
/ObjetosExtra6/nbproject/private/
/ObjetosExtra6/build/
/POOservicios/nbproject/private/
/POOservicios/build/
/ServiciosEj1/nbproject/private/
/ServiciosEj1/build/
/ServiciosEj2/nbproject/private/
/ServiciosEj2/build/
/ServiciosEj3/nbproject/private/
/ServiciosEj3/build/
/ServiciosExtra1/nbproject/private/
/ServiciosExtra1/build/
/ServiciosExtra2/nbproject/private/
/ServiciosExtra2/build/
/ServiciosExtra2.1/nbproject/private/
/ServiciosExtra2.2/nbproject/private/
/ServiciosExtra2.3/nbproject/private/
/ServiciosExtra2.4/nbproject/private/
/ServiciosExtra2.5/nbproject/private/
/ServiciosExtra2.5/build/
/ServiciosExtra2.1/build/
/ServiciosExtra2.2/build/
/ServiciosExtra2.3/build/
/ServiciosExtra2.4/build/
/ServiciosExtra3.2/nbproject/private/