/EjSubprogramas/nbproject/private/
/SubprogramasTeoria/nbproject/private/
/XtraEstCtrl/nbproject/private/
/EjArreglos/nbproject/private/
/ArreglosTeoria/nbproject/private/
/EjArreglos/build/
/EjArreglos.new/nbproject/private/
/EjArreglos.new/build/
/POO.Teoria/nbproject/private/
/ObjetosEj1/nbproject/private/
/ObjetosEj1/build/
/ObjetosEj2/nbproject/private/
/ObjetosEj2/build/
/ObjetosEj3/nbproject/private/
/ObjetosEj3/build/
/ObjetosEj4/nbproject/private/
/ObjetosEj4/build/